@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Open+Sans&family=Orbitron:wght@500;700&family=Oswald&display=swap');

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

#drop-down{

    margin-top: 5vh;
    border-radius: 8px;
    width: 200px;
    height: 300px;
    margin-left: 20px;
    position: fixed;
    background: blue;

}
 .menu-drop{

    display: none;
    margin-top: 30px;
    
 }

 .menu-drop a{
    color: white;
    font-size: 1.3em;
   
  }

 
 

body{
    font-family: 'Orbitron', sans-serif; 
}


.navbar{
    display: flex;
    justify-content: space-between;
    background: yellow;
    align-items: center;

}

 a{
    color: red;
    text-decoration: none;
     
}

li{

    margin-right: 35px;
}

.navbar-brand{
    display: flex;
    align-items: center;
    margin-left: 35px;
    font-size: 2rem;
    color: red;
    margin-bottom: 20px;
}


 ul{
    display: flex;
    align-items: center;
 }

 
 select{
    margin-top: 20px;
    
 }

 label{
    margin-left: 20px;
 }

 section{
    display: flex;
    flex-wrap: wrap;
     max-width: 700px;
     margin: auto;
   
 }


  .card-annonce {
    margin-top: 20px;
    margin-left: 20px;
    border: 3px solid blue;
    border-radius: 10px;
    text-align: center;
    width: 20vw;
    display: none;
 }

 #annonces-input{

    display: none;
 }

 #annonces-option{

    display: none;
 }
 .description-annonces{

    display: flex;
}

.card-annonce:hover{

    box-shadow: 10px 10px 5px grey;
}




.card-text{
    margin-top: 10px;
    font-size: 0.8em;
}

 .titre{
    color: rgb(10, 227, 10);
}

article{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 20%;
    
}
.card-container{
    margin-top: 30px;
    width: 60vw;
    height: 60vh;
}

#fiche{

   align-items: center;
   margin-left: -5vw;
   

}

img{
    width: 19.8vw;
   
}


.card{
    width: 30vw;
    border-radius: 12px;
    margin-top: 20px;
    border: 1px solid green;
}

 .card:hover{

    box-shadow: 10px 10px 5px gray;
    border: solid blue;

    strong{
        color: green;
    }
}

.card-text-ft{

    margin-left: 20px;
    margin-bottom: 20px;

}
   
   .ft{
    border-radius: 12px;
    width: 30vw;
    
   }
     strong{

        color: blue;
    }

   .date-heure {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20vh;
    font-size: 2rem;
    color: rgb(11, 3, 232);
    margin-left: 25%;
    
   }
   

@media(max-width: 1224px){

    .card-annonce {

        width: 35vw;
        margin-top: 40px;
        margin: auto;
    }

    img{

        width: 34.9vw;
    }
    
}

@media (max-width: 1300px) {

    .nav-link{
    display: none;

    }

     .menu{
        height: 40px;
        width: 40px;
        margin-right: 50px;
        
     }
   
}



@media(min-width: 1299px) {

     .menu{
        display: none;
    }
    #drop-down{

        display: none;
    }
}

@media(max-width: 1225px){

    section{

        flex-direction: column;
    }

    .card-annonce{

        margin-top: 20px;
    }
}


@media(max-width: 950px){

    .card{

        width: 55vw;
        
    }
}